#content .content_area >div:first-of-type{margin: 200px auto 100px;
    position: relative;}
#content .content_area div:first-of-type img{
    position: absolute; top:50px; left:0;
}
#content .content_area div:first-of-type p:first-of-type{font-size: 6.25em;
    font-family: "DM Serif Display", serif;
    font-weight: 400; color: #E62; text-align: right;
    padding: 190px 0 0; margin-bottom: 30px;}
#content .content_area div:first-of-type p:last-of-type{font-size: 1.5em;
    font-weight: 400; text-align: right;}

#content .content_area >div:nth-of-type(2){padding: 100px 0;
    width: 4000px;  height: 785px; background: #B97;
    position: relative; top: 0; left: 50%; margin-left: -2000px;}
#content .content_area div:nth-of-type(2) .logo{width: 380px;
    height: 36px; background: url(../images/content4/logo01.png);
    position: absolute; top: 425px; left: 1400px; margin: 0;}
#content .content_area div:nth-of-type(2) img{
    border-radius: 200px 200px 0 0;}
#content .content_area div:nth-of-type(2) p{font-family: "Lato", sans-serif;
    font-size: 1.88em; font-weight: 700;
    position: absolute; top:476px; left: 1400px;}
#content .content_area div:nth-of-type(2) dl{width: 590px;
    position: absolute; top:525px; left: 1400px;
    color: #fff;}
#content .content_area div:nth-of-type(2) dl dt{font-size: 2.5em;
    font-weight: 500;}
#content .content_area div:nth-of-type(2) dl dd{font-size: 1.13em;
    font-weight: 400; margin-top: 100px;}
#content .content_area div:nth-of-type(2) img:first-of-type{
    position: absolute; top:330px; right: 1400px;
    z-index: 10; box-shadow: 2px 6px 15px 3px rgba(0, 0, 0, .5);}
#content .content_area div:nth-of-type(2) img:last-of-type{
    position: absolute; top:100px; right: 1645px;
    box-shadow: 2px 6px 15px 3px rgba(0, 0, 0, .5);}

#content .content_area div:last-of-type{margin: 100px 0 200px;}
#content .content_area div:last-of-type dt{font-size: 1.5em;
    font-weight: 700; margin-bottom: 55px;}
#content .content_area div:last-of-type dd{font-size: 1.25em;}
#content .content_area div:last-of-type dd:last-of-type{
    font-size: 1.5em; font-weight: 700;
    margin-top: 45px; color: #B97;}

#content .content_area div:last-of-type .map_api{}
#content .content_area div:last-of-type .map_api #map{
    width: 1200px; height: 630px; border: 2px solid #999;}